.beerItemContainer {
    border: 4px solid var(--background-green);
    border-radius: 25px;
    margin: 2%;
    padding: 5%;
    max-width: 100%;
    min-width: 50%;
    font-weight: bold;
}

.beerItemContainer:hover {
    background-color: var(--background-tan);
}

.name {
    font-size: larger;
    margin: 0;
}



