.beerItemContainer {
    border: 4px solid var(--background-green);
    border-radius: 25px;
    min-width: 50vw;
    max-width: 75vw;
    margin: 1%;
}

.beerItemContainer:hover {
    background-color: var(--background-tan);
}

