.searchContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5% 0% 5% 0%;
    width: 300px;
}
.subSearch {
    display: flex;
    justify-content: space-evenly;
    
}
.searchItem {
    margin: 1%;
}

.textSearch {
    width: 100%;
    font-size: 1.05rem;
    font-family: FontAwesome;
}
