.searchContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2%;
    width: auto;
    padding: 5%;
    
}
.subSearch {
    display: flex;
    
}
.searchItem {
    margin: 1%;
}

.textSearch {
    width: 100%;
    font-size: 1.05rem;
}