@import "//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css";


:root {
  --highlight-pink:#DB4272;
  --background-pink: #E69FA2;
  --highlight-blue: #84D4E3;
  --highlight-yellow: #F7C83E;
  --background-green: #4D5B27;
  --background-tan: #DCD9A1;
  background-color: white;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

body {
  overflow: overlay;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  color: var(--background-green);
}
.title {
  font-family: 'Anton', sans-serif;
  color: var(--highlight-yellow);
  font-size: 2rem;
  padding-left: 1%;
  letter-spacing: 1.75px;
}
.header {
  background-color: var(--background-green);
  display: flex;
  align-items: center;
  justify-content: left;
  height: 7.5vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}




.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

a {
  text-decoration: none;
  color: var(--background-green)
}
.newButton {
  border-radius: 100%;
  background-color: transparent;
  border-style: solid;
  font-weight: bolder;
  
}

.newButton:hover {
  color: var(--highlight-pink);
  border-color: var(--highlight-pink);
}




a, .newButton {
  margin-left: 2%;
}

.myBeerListContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}
ul {
  list-style: none;
}

.bottom {
  margin-bottom: 5%;
  cursor: pointer;
}

.beerIcon {
  width: 30px;
  height: 30px;
  margin-left: 5%;
  margin-right: 0;
}

